<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>06_InitParam_ApplicationContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Ajout de quelques parametres d'initialisation personalisés pour la  servlet ServletAvecParametres1 -->
  
  <servlet>
  	<servlet-name>servlet_avec_parametres_1</servlet-name>
  	<servlet-class>com.etudiant.servlets.ServletAvecParametres1</servlet-class>
  	<init-param>
  	<param-name>codeSecret</param-name>
  	<param-value>123456</param-value>
  	</init-param>
  	
  	<init-param>
  	<param-name>couleur</param-name>
  	<param-value>rouge</param-value>
  	</init-param>
  	
  </servlet>
  <servlet-mapping>
  <servlet-name>servlet_avec_parametres_1</servlet-name>
  <url-pattern>/servletParametres.do</url-pattern>
  </servlet-mapping>
  
  <!-- Définition de valeurs accessibles à toutes les servlets de l'application
  ces valeurs seront contenues dans un objet unique et global appelle contexte de l'application (ou le 'le contexte' ou 'l'application')
  les valeurs du contexte sont stockées à l'aide des paramètres du contexte (binômes clés/valeur) -->
  
  <!-- définition de deux paramètres de contexte -->
  <context-param>
  	<param-name>urlDb</param-name>
  	<param-value>jdbc:mysql://localhost:3306/world</param-value>
  </context-param>
  
    <context-param>
  	<param-name>vMax</param-name>
  	<param-value>130</param-value>
  </context-param>
  
  
</web-app>