<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>01_BonjourServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Assignation d'un nom d'usage (alias) à la servlet -->
  <servlet>
  	<servlet-name>MaServlet</servlet-name>	<!-- Surnom de la servlet -->
  	<servlet-class>com.etudiant.servlets.BonjourServlet</servlet-class>
  </servlet>
  
  <!-- Mappage de la servlet -->
  <servlet-mapping>
  <servlet-name>MaServlet</servlet-name>
  <url-pattern>/mes_pages/bonjour.do</url-pattern>
  </servlet-mapping>
</web-app>